:root {
    --white: white;
    --black: black;
    --green: #499167;
}
[data-theme="dark"] {
    --white: black;
    --black: white;
    --green: orange;
}

#header {
    margin: 10px 0;
    display: flex;
    /* background-color: #499167; */
}

/* congfig logo IUH */
.logo-img-iuh {
    width: 200px;
}

/* config logo dsk15 */
.logo-img-k15ds {
    width: 100px;
}

#logo-k15ds {
    padding-top: 18px;
}

/* config logo vft */
#logo-vft {
    margin-left: 45px;
}

/* config form log in */
.form-log-in {
    display: flex;
}

/* config dark mode button */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50px;
    right:300px;
    z-index: 1000;
}

.theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: rgb(40,42,54);
    bottom: 0;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: .4s;
}

.slider:before {
    background-color: white;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: rgb(32, 237, 9);
}

input:checked + .slider::before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#icon-dark-mode {
    width: 34px;
    height: 34px;
    margin-right: 5px;
}

/* config form login */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.form-login {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

#btn-sign-up {
    width: 85px;
    height: 34px;
    margin-top: 40px;
    margin-left: 55px;
    margin-right: 5px;
    border-radius: 4px;
    color: var(--green);
    border: 1px solid var(--green);
    transition: 0.3s;
    background-color: rgb(245,245,245);
    cursor: pointer;
    text-align: center;
}

#btn-sign-up:hover {
    background-color: var(--green);
    color: white;
}

#btn-login {
    width: 75px;
    height: 34px;
    margin-top: 40px;
    border-radius: 4px;
    color: var(--green);
    border: 1px solid var(--green);
    transition: 0.3s;
    background-color: rgb(245,245,245);
    cursor: pointer;
    text-align: center;
}

#btn-login:hover {
    background-color: var(--green);
    color: white;
}