#output_test {
    overflow-y: auto;
    height: 502px;
}

#output_test th {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.4);
}

#output_test table {
    position: relative;
}
