:root {
    --color_of_vis: #499167;
}

#output_test {
    overflow-y: auto; 
    height: 365px;
}

#output_test th {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.4);
}

#output_test table {
    position: relative;
}

body {
    background-color: rgb(245, 245, 245);
}

.graph {
    /* border: 1px solid black; */
    padding: 5px;
    background-color: white;
    border-radius: 7px;
    transition: 0.4s;
    border: 2px solid white;
}

.graph:hover {
    transition: 0.4s;
    border: 2px solid var(--color_of_vis);
    /* box-shadow: 2px 2px 2px 0 rgb(109, 109, 109); */
}

.graph-boxplot {
    margin-right: 5px;
}

.graph-bar-xeploai {
    margin-left: 5px;
}

#second-layer {
    margin-top: 10px;
}

.show-table {
    height: 474px;
}

.footer {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    background-color: rgb(182, 182, 182);
    text-align: center;
}

.footer p {
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    margin: 10px 0;
    display: flex;
}

.logo-img-iuh {
    width: 200px;
}

.logo-img-k15ds {
    width: 100px;
}

#logo-k15ds {
    padding-top: 18px;
}

.container {
    width: 1500px;
}

#show-note {
    overflow-y: auto;
    height: 310px;
    padding: 10px;
    /* border: 1px solid black; */
}

.note-component {
    margin: 0 0 0 10px;
    width: 95%;
    display: flex;
    border: 2.3px solid black;
    border-radius: 13px;
    margin: 0 0 10px 0;
    transition: 0.2s;
    background-color: white;
}

.note-component:hover {
    border: 2.3px solid var(--color_of_vis);
    transition: 0.2s;
    background-color: rgb(98, 252, 175);
}

.note-div {
    width: 100%;
    display: block;
}

.note-a {
    text-decoration: none;
    display: block;
    padding: 10px 5px 0 5px;
}

.note-big-label {
    color: black;
}

.note-a {
    text-align: left;
    display: block;
}

.note-sm-label {
    color: gray;
    font-size: smaller;
}

.note-container {
    display: none;
    width: 375px;
    height: 367px;
    margin: 5px 0 0 0;
}

.note-container-edit {
    /* display: none; */
    width: 375px;
    height: 367px;
    margin: 5px 0 0 0;
}

#edit-note {
    padding: 10px;
}

#note-edit-tools {
    display: flex;
    margin: 0 auto;
    margin: 10px 0 0 0;
}

#note-edit-tools a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
}

#note-edit-save {
    width: 75%;
    margin: 0 5px 0 0;
}

#note-edit-remove {
    width: 20%;
    margin: 0 0 0 5px;
}

#note-edit-title input {
    width: 100%;
}

#note-edit-content {
    margin: 10px 0 0 0;
}

#note-edit-content textarea {
    width: 100%;
    height: 210px;
    resize: none;
}
